[Unit]
Description=Shutdown on button press
#After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/gpio_halt
Restart=on-failure

[Install]
WantedBy=multi-user.target
